<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EvenTEC"
        tools:targetApi="31">
        <activity
            android:name=".SeleccionarEstudiante"
            android:exported="false" />
        <activity
            android:name=".CrearActividad"
            android:exported="false" />
        <activity
            android:name=".GestionarEstudiantes"
            android:exported="false" />
        <activity
            android:name=".RedesSociales"
            android:exported="false" />
        <activity
            android:name=".GestionarEvento"
            android:exported="false" />
        <activity
            android:name=".ConsultarEventos"
            android:exported="false" />
        <activity
            android:name=".ConsultarActividades"
            android:exported="false" />
        <activity
            android:name=".LobbyEstudiantes"
            android:exported="false" />
        <activity
            android:name=".Entrada"
            android:exported="false" />
        <activity
            android:name=".CreacionEvento"
            android:exported="false" />
        <activity
            android:name=".EditarColaborador"
            android:exported="false" />
        <activity
            android:name=".BuscarColaborador"
            android:exported="false" />
        <activity
            android:name=".AsignarColaborador"
            android:exported="false" />
        <activity
            android:name=".RegistrarColaborador"
            android:exported="false" />
        <activity
            android:name=".LobbyColaboradores"
            android:exported="false" />
        <activity
            android:name=".RegistrarAsociaciones"
            android:exported="false" />
        <activity
            android:name=".LobbyAsociaciones"
            android:exported="false" />
        <activity
            android:name=".Foro"
            android:exported="false" />
        <activity
            android:name=".CalendarioEventos"
            android:exported="false" />
        <activity
            android:name=".SeleccionarEventos"
            android:exported="false" />
        <activity
            android:name=".ConfirmarInscrip"
            android:exported="false" />
        <activity
            android:name=".CancelarInscripcion"
            android:exported="false" />
        <activity
            android:name=".Inscripcion"
            android:exported="false" />
        <activity
            android:name=".MisEventos"
            android:exported="false" />
        <activity
            android:name=".Eventos"
            android:exported="false" />
        <activity
            android:name=".GestionarActividad"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".RegistrarEstudiantes"
            android:exported="false" />
        <activity
            android:name=".Estadisticas"
            android:exported="false" />
        <activity
            android:name=".VerEstadisticas"
            android:exported="false" />
        <activity
            android:name=".Encuesta"
            android:exported="false" />
        <activity
            android:name=".Propuesta"
            android:exported="false" />
        <activity
            android:name=".LobbyEstudiantesAdmin"
            android:exported="false" />
        <activity
            android:name=".Comunicacion"
            android:exported="false" />
        <activity
            android:name=".VerEventoTerminado"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>